/* ESTILO NORMAL */

body{
    background: white;
    color: black;

    font-family: Arial, sans-serif;

    transition: 0.5s;
}

.contenedor{
    text-align: center;
    margin-top: 10px;
}

button{
    padding: 5px 5px;
    border: none;
    border-radius: 3px;

    background: #0d6efd;
    color: white;

    cursor: pointer;
}

/* MODO OSCURO */

.dark-mode{
    background: #121212;
    color: white;
}

.dark-mode button{
    background: #6610f2;
}